.card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
  /* .card h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .card input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  .card input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  .card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  .card button:hover {
    background: rgba(255, 255, 255, 0.5);
  }
   */